@import "tailwindcss";

/* Lenis Smooth Scroll Styles */
html.lenis,
html.lenis-smooth {
  scroll-behavior: auto !important;
}

html.lenis-smooth body {
  overflow: anchor !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  margin: 0;
}
